@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap");
* {
  font-family: "Nunito Sans", sans-serif;
  font-size: 15px;
  /* outline: 0.1rem solid black; */
}

html,
body {
  height: 100%;
}

.opacity-50-hover:hover {
  opacity: 0.5 !important;
}
.bg-azul {
  background: rgb(0, 35, 125);
}
.bg-azul-subtle {
  background: rgb(205, 210, 225);
}
/* NAVBAR */
.navbar-nav .nav-link:hover {
  color: #fff;
}
.navbar-nav .nav-link.active {
  border-bottom: 2px solid #ffc107;
}
.navbar-nav .nav-link::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: #ffc107;
  transition: width 0.4s ease;
  transform: translateX(-50%);
}
.navbar-nav .nav-link:hover::before {
  width: 100%;
}
.navbar-nav .nav-link.active::before {
  width: 0;
}
header .dropdown-toggle::after {
  margin-left: 5px;
}
/* FIM NAVBAR */
/* Defina o background que será aplicado quando o collapse estiver ativo */
@media (max-width: 991px) {
  .navbar-nav .nav-link:hover,
  .navbar-nav .nav-link:active {
    color: rgba(0, 0, 0, 0.5);
  }
  .navbar-nav .nav-link:hover::before {
    width: 0;
  }
}
/* CAROUSEL */
.c-item {
  height: 480px;
}
.c-img {
  filter: brightness(0.6);
}
@media (max-width: 991px) {
  .c-item {
    height: 240px;
  }
}
/* END CAROUSEL */
