* {
  font-family: "Nunito Sans", sans-serif;
  font-size: 15px;
  /* outline: 0.1rem solid black; */
}

html,
body {
  height: 100% !important;
}
.link-hover {
  color: black;
  text-decoration: none;
  transition: color 0.3s;
}

.link-hover:hover {
  color: #0d6efd;
}

.opacity-50-hover:hover {
  opacity: 0.5 !important;
}
.mt-n5 {
  margin-top: -2.25rem !important;
}
.bg-azul {
  background: rgb(0, 35, 125);
}
.bg-azul-subtle {
  background: rgb(205, 210, 225);
}
.text-azul {
  color: rgb(0, 35, 125);
}
/* NAVBAR */
.navbar-nav .nav-link:hover {
  color: #fff;
}
.navbar-nav .nav-link.active {
  border-bottom: 2px solid #ffc107;
}
.navbar-nav .nav-link::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: #ffc107;
  transition: width 0.4s ease;
  transform: translateX(-50%);
}
.navbar-nav .nav-link:hover::before {
  width: 100%;
}
header .dropdown-toggle::after {
  margin-left: 5px;
}
@media (max-width: 991px) {
  .navbar-nav .nav-link:hover,
  .navbar-nav .nav-link:active {
    color: rgba(0, 0, 0, 0.5);
  }
  .navbar-nav .nav-link:hover::before {
    width: 0;
  }
  header .navbar-expand-lg .navbar-nav .dropdown-menu {
    padding-bottom: 0px;
  }
  .mt-n5 {
    margin-top: -1.5rem !important;
  }
}
@media (min-width: 992px) {
  header .navbar-expand-lg .navbar-nav .dropdown-menu {
    margin-left: 90%;
    margin-top: -30px;
  }
}
/* FIM NAVBAR */
/* CAROUSEL */
.c-item {
  height: 480px;
}
.c-img {
  filter: brightness(0.6);
}
@media (max-width: 991px) {
  .c-item {
    height: 240px;
  }
}
/* END CAROUSEL */
/* LANDING PAGE */
.hover-grow {
  transition: transform 0.2s ease; /* Adiciona uma transição suave */
}

.hover-grow:hover {
  transform: scale(1.05); /* Aumenta em 5% ao passar o mouse */
}
/* FIM LANDINGPAGE */

/* Truncate para quebra de linha do  */

.custom-text-truncate {
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Número de linhas antes do truncamento */
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.bg-cinza {
  background-color: #f0f0f0;
}

.text-disable {
  color: #6e6e6e;
}

.mt-5-text {
  margin-top: 115px;
}

@media (max-width: 767px) {
  .mt-5-text {
  }
}

.rotate-icon {
  transition: transform 0.3s;
}

.rotate-icon.rotate-up {
  transform: rotate(0deg);
}

.rotate-icon.rotate-down {
  transform: rotate(90deg);
}